@import './variables';
@import './base';

.tool-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--layout-header-height) / 2);
  height: calc(var(--layout-header-height) / 2);
  color: var(--color-text-2);
  cursor: pointer;
  transition: all .3s;

  &:hover {
    backdrop-filter: brightness(.95);
  }
}

#nprogress .bar {
  background: rgb(var(--arcoblue-6));
}

.arco-scrollbar .arco-scrollbar-track-direction-horizontal {
  height: 10px;

  .arco-scrollbar-thumb-bar {
    height: 4px;
  }
}

.card {
  padding: 10px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 2px 2px #eee
}
